/***********************************************************************
  Global Styles
************************************************************************/
@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Regular.otf') format("truetype");
}
@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Bold.otf') format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Light.otf') format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Medium.otf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Extralight.otf') format("truetype");
  font-weight: 300;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "graphik", sans-serif;
}
.center {
  text-align: center;
}
.container {
  position: relative;
}
/***********************************************************************
  Video Styles
************************************************************************/
.video-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}
.video-wrapper video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 500ms opacity;
}
.video-wrapper video.active {
  opacity: 1;
}
.video-wrapper .video-overlay {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
/***********************************************************************
  Header Styles
************************************************************************/
header {
  padding-top: 65px;
}
header h1 {
  font-size: 60px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
header h2 {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 4px;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
}
header svg {
  margin-bottom: 50px;
  margin-top: 50px;
}
/***********************************************************************
  Spinning descriptions CSS - 
************************************************************************/
.majal__spinning-text-container {
  font-size: 24px;
  font-weight: bold;
  padding: 0 10px;
}
.majal__spinning-text-container .majal__spinning-text {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
.animated-description {
  position: absolute;
  overflow: inherit;
  width: 100%;
  line-height: 2.125rem;
  opacity: 0;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(-100%) rotateX(60deg) scale(0.95);
  transform: translateY(-100%) rotateX(60deg) scale(0.95);
}
.animated-description.active {
  opacity: 1;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(0%) rotateX(0deg) scale(1);
  transform: translateY(0%) rotateX(0deg) scale(1);
  -webkit-transition: opacity 600ms 200ms, -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: opacity 600ms 200ms, transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.animated-description.hidden {
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(140%) rotateX(-60deg) scale(0.95);
  transform: translateY(140%) rotateX(-60deg) scale(0.95);
  -webkit-transition: opacity 1000ms, -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: opacity 1000ms, transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/***********************************************************************
  Majal products logos
************************************************************************/
.majal__logos-container {
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 15vh;
}
.majal__logos-container p.center {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.75;
}
.majal-product-logo {
  display: inline-block;
  width: 180px;
  height: 110px;
  margin: 0 10px;
  transition: background-color 300ms ease-in;
}
.majal-product-logo a {
  display: table;
  width: 100%;
  height: 100%;
}
.majal-product-logo a div {
  display: table-cell;
  vertical-align: middle;
}
.majal-product-logo a div img {
  max-width: 100%;
  height: auto;
}
.majal-product-logo:hover,
.majal-product-logo.active {
  background-color: rgba(46, 46, 46, 0.65);
  border-radius: 5px;
}
/***********************************************************************
 Footer Styles
************************************************************************/
footer {
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 35px;
  max-width: 800px;
  height: auto;
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0;
}
footer span {
  color: rgba(255, 255, 255, 0.25);
}
footer a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  margin: 8px;
}
footer a svg {
  fill: rgba(255, 255, 255, 0.25);
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
footer a.majal__talk-to-us:hover {
  text-decoration: underline;
}
/***********************************************************************
 Media Queries
************************************************************************/
@media only screen and (max-width: 800px) {
  .majal-product-logo {
    width: 220px;
  }
  footer {
    position: absolute;
    bottom: inherit;
  }
}
@media only screen and (max-width: 1199px) {
  .majal-product-logo {
    width: 280px;
  }
}
@media only screen and (max-width: 320px) {
  .majal-product-logo {
    width: 130px;
  }
  .majal__spinning-text-container {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
  }
  .majal__spinning-text-container .majal__spinning-text {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
  }
  .majal__logos-container {
    max-width: 1210px;
    margin: 0 auto;
    margin-top: 15vh;
  }
  .majal__logos-container p.center {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0.75;
  }
}
