/***********************************************************************
  Global Styles
************************************************************************/
@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: "graphik";
  src: url('../assets/fonts/Graphik-Extralight.otf');
  font-weight: 300;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "graphik", sans-serif;
}

.center{
  text-align: center;
}

.container{
  position: relative;
}
/***********************************************************************
  Video Styles
************************************************************************/
.video-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  video , .videoBackground{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity:0;
    transition: 500ms opacity;

  }
  video.active , .videoBackground.active{
    opacity: 1;
  }
  video::-webkit-media-controls {
    display:none !important;
  }
  .video-overlay{
    position:absolute;
    float:left;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(4,30,53,0.8) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(rgba(4,30,53,0.8)));
    background: -webkit-linear-gradient(rgba(0,0,0,0.9), rgba(4,30,53,0.8));
    background: -moz-linear-gradient(top, rgba(0,0,0,0.9), rgba(4,30,53,0.8));
    background: -ms-linear-gradient(rgba(0,0,0,0.9), rgba(4,30,53,0.8));
    background: -o-linear-gradient(rgba(0,0,0,0.9), rgba(4,30,53,0.8));
    background: linear-gradient(rgba(0,0,0,0.9), rgba(4,30,53,0.8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0.9)', endColorstr='rgba(4,30,53,0.8)');
    zoom: 1;
  }
}
/***********************************************************************
  Header Styles
************************************************************************/
header {
  padding-top:65px;
  margin-bottom: 93px;
  h1{
    font-size: 56px;
    color:white;
    margin-top: 0px;
    margin-bottom: 18px;
    font-weight: 600;
  }


  h2{
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 17px;
    margin-top:0px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      position: relative;
      padding: 0 10px;

      &:before, &:after {
        content: '';
        display: block;
        width: 30px;
        position: absolute;
        top: 0.50em;
        border-top: 1px solid rgba(255,255,255,0.30);
      }

      &:before { right: 100%; }
      &:after { left: 100%; }
    }
  }
}
/***********************************************************************
  Spinning descriptions CSS - 
************************************************************************/
.majal__spinning-text-container{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding: 0 10px;
  .majal__spinning-text{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }
}

.animated-description{
  position: absolute;
  overflow: inherit;
  margin: 0px;
  width: 100%;
  line-height: 56px;
  opacity: 0;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(-100%) rotateX(60deg) scale(0.95);
  transform: translateY(-100%) rotateX(60deg) scale(0.95);
}

.animated-description.active {
  opacity: 1;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(0%) rotateX(0deg) scale(1);
  transform: translateY(0%) rotateX(0deg) scale(1);
  -webkit-transition: opacity 600ms 200ms, -webkit-transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
  transition: opacity 600ms 200ms, transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
}

.animated-description.hidden {
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(140%) rotateX(-60deg) scale(0.95);
  transform: translateY(140%) rotateX(-60deg) scale(0.95);
  -webkit-transition: opacity 1000ms, -webkit-transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
  transition: opacity 1000ms, transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
}
/***********************************************************************
  Majal products logos
************************************************************************/
.majal__logos-container{
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 15vh;
  margin-bottom: 60px;
  p.center{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
}
.majal-product-logo{
  display: inline-block;
  width: 180px;
  height: 110px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  transition: border 600ms ease;
  transition: background 300ms ease;
  a{
    display: table;
    width: 100%;
    height: 100%;
    div{
      display: table-cell;
      vertical-align: middle;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.majal-product-logo:hover, .majal-product-logo.active{
  border:1px solid rgba(255,255,255,0.15);
  background: rgba(0,0,0,0.3);
}
/***********************************************************************
 Footer Styles
************************************************************************/
footer{
  position: fixed;
  top: 0 ;
  margin-top: 40px;
  padding-right: 20px;
  right: 0;
  span{
    color: rgba(256,256,256,0.25);
    font-size: 20px;
    font-weight: 100;
  }
  a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(256,256,256,1);
    margin: 8px;
    svg{
      fill: rgba(256,256,256,1);
      vertical-align: sub;
      width: 16px;
      height: 16px;
    }
  }
  a.majal__talk-to-us:hover{
    text-decoration: underline;
  }
} 
/***********************************************************************
 Media Queries
************************************************************************/
@media only screen and (max-width: 1199px){
  .majal-product-logo{
    width: 280px;
  }
}

@media only screen and (max-width: 954px){
  .majal__spinning-text-container{
    font-size: 35px;
    .animated-description{
      line-height: 45px;
    }
  }
}

@media only screen and (max-width: 928px){
  .majal__spinning-text-container{
    font-size: 34px;
    .animated-description{
      line-height: 45px;
    }
  }
}

@media only screen and (max-width: 800px){
  .majal__spinning-text-container{
    font-size: 29px;
    .animated-description{
      line-height: 45px;
    }
  }
  .majal-product-logo{
    width: 220px;
  }
  footer{
    position: absolute;
    bottom: inherit;
  }
}


@media only screen and (max-width: 768px){
  .majal__spinning-text-container{
    font-size: 28px;
    .animated-description{
      line-height: 45px;
    }
  }
}

@media only screen and (max-width: 600px){
  .majal__spinning-text-container{
    font-size: 22px;
    .animated-description{
      line-height: 35px;
    }
  }
}

@media only screen and (max-width: 599px){
  .animated-description{
    line-height: 30px;
  }
  .majal-product-logo{
    width: 190px;
  }
  .majal__spinning-text-container{
    font-size: 16px;
    .majal__spinning-text{
      max-width: 700px;
      margin: 0 auto;
      position: relative;
    }
  }
  .majal__logos-container{
    max-width: 1210px;
    margin: 0 auto;
    margin-top: 10vh;
    p.center{
      padding-top: 30px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      opacity: 0.75;
    }
  }
  footer{
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 35px;
    max-width: 800px;
    height: auto;
    left: 0px;
    bottom: inherit;
    right: 0;
    top: inherit;
  }
}

@media only screen and (max-width: 419px){
  header h2{
    margin: 0 10px;
  }
  .majal-product-logo{
    width: 130px;
  }
  .majal__logos-container{
    max-width: 1210px;
    margin: 0 auto;
    margin-top: 10vh;
    p.center{
      padidng-top: 30px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      opacity: 0.75;
    }
  }
}

@media only screen and (max-width: 320px){
  header {
    margin-top: 70px;
    padding-top: 0px;
    h2{
      font-size: 12px;
      span{
        padding: 0 5px;
      }
    }
  }
  .majal__logos-container{
    margin-top: 15vh;
  }
}