.center{
  text-align: center;
}

header {
  padding-top:65px;
}

html, body {
    max-width: 1282px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
/***********************************************************************
  Spinning descriptions CSS - 
************************************************************************/
.majal__spinning-text-container{
  margin-bottom: 200px;
  -webkit-transform: translate(0, -80%);
  -ms-transform: translate(0, -80%);
  transform: translate(0, -80%);
}
.animated-description{
  position: absolute;
  overflow: inherit;
  width: 100%;
  font-size: 20px;
  line-height: 34px;
  line-height: 2.125rem;
  opacity: 0;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translateY(-100%) rotateX(60deg) scale(0.95);
  transform: translateY(-100%) rotateX(60deg) scale(0.95);
}

.animated-description.active {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translateY(0%) rotateX(0deg) scale(1);
    transform: translateY(0%) rotateX(0deg) scale(1);
    -webkit-transition: opacity 600ms 200ms, -webkit-transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
    transition: opacity 600ms 200ms, transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
}

.animated-description.hidden {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translateY(140%) rotateX(-60deg) scale(0.95);
    transform: translateY(140%) rotateX(-60deg) scale(0.95);
    -webkit-transition: opacity 1000ms, -webkit-transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
    transition: opacity 1000ms, transform 800ms cubic-bezier(0.68,  -0.55,  0.265,  1.55);
}
/***********************************************************************
  Majal products logos
************************************************************************/
.majal__logos-container{
  max-width: 1096px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.majal-product-logo{
  display: inline-block;
  max-width: 150px;
  height: 110px;
  padding: 10px;
  margin: 5px;
  img{
    margin-top: 25%;
    width: 100%;
    height: auto;
  }
}

.majal-product-logo:hover{
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}