//-
  ---
  data: !include data.yml
  ---

aside.sidebar(intro-outro='fade')
  .container
    .right.floated
        a.action.button(href='#' on-click='toggleSidebar') Close

    header
      h3= data.sectionTitle
      p= data.description

    |{{>getComponent('donation')}}
