section.segment(intro='fly')
  .right.floated
    a.action.button(href='#') Close

section.segment(intro='fly:{x:-100}')
  .vertically.aligned.rows
    .cell
      h3 Some sub section
      p Some decription
    .right.aligned.cell
      a.action.button(href='#') Something else
