header.vertically.centered.big.main.segment
  .centered.container
    header
      != imageTag('images/logos/logo-crowdvoiceby-light')
    p.main.thin Enabling activists &amp; grassroots organizations to collaboratively curate media related to their causes

section.vertically.centered.segment
  .half.container
    header
      h2 A TOOL FOR SOCIAL JUSTICE
    p CrowdVoice.by was built for those working for social change in order to streamline the important task of collecting and disseminating information about their causes.
    p Its target audience is activists and grassroots collectives that engage in valuable, on-the-ground activities, but lack the resources to build their own tech with which to illustrate the importance and urgency of their work.
  figure.cover.full.right!= imageTag('images/extras/bg-crowdvoice')

section.vertically.centered.segment
  .centered.container
    header
      h2 CROWDVOICE BY
      p (NAME OF ORGANIZATION)
    p CrowdVoice.by helps grassroots campaigners organize and communicate their messages from a central hub across multiple platforms.
