header.vertically.centered.big.main.segment
  .centered.container
    .top.right
      a.action.button(href='#' on-click='toggleSidebar') DONATE
    header
      h2.thin About Us
    p.main We create platforms that amplify underrepresented voices

section.vertically.centered.segment
  .half.container
    header
      h3 LOCAL ACTION BECAME GLOBAL
    p Founded in Bahrain in 2006, Majal began as Mideast Youth, serving marginalized populations in the Middle East and North Africa. After a decade of local impact, credibility, and innovation, the scope of our work now goes well beyond the region.

section.vertically.centered.segment
  .half.container
    header
      h3 A REMOTE TEAM THAT'S PRETTY CLOSE
    p With team members and initiatives throughout the Middle East, India, Mexico, and beyond, we’ve scaled our projects to a broader, more global audience and rebranded as Majal in 2015 to reflect a renewed transnational positioning.

section.segment
  ul.bordered.grid
    each x in Array.from({ length: 12 })
      li.item.padded
        i.x-esraa
        span Esra'a Al Shafei
        small Founder &amp; Director

section.vertically.centered.segment
  .half.container
    header
      h3 A DARING ACT OF LOVE
    p In Arabic and Farsi, Majal translates to "opportunity" or "to give way". In Hindi slang, it means daring or brave. When pronounced in Spanish, it’s “Mahal,” which in Tagalog means love. So in a word, Majal embodies what it is meant to be - a daring act of love that creates opportunities for people around the world.

section.vertically.centered.container
  .half.segment.brand
    .container
      header
        h3 EVERY SINGLE PROJECT WE UNDERTAKE CONNECTS BACK TO OUR CORE BELIEFS.
      p With courage and innovation, Majal addresses issues that receive little or no attention:  The rights of the invisible lower income migrant workers, the ‘stigmatized’ LGBTQ community, and those seeking to express dissent through music.
  figure.big.right.cover!= talavera('covers/macbook')

section.dim.segment
  .centered.container
    header
      h3 10 YEARS OF RECOGNITION AND PARTNERSHIPS
      p We share our successes with our supporters and collaborators.
    ul.grid
      each x in Array.from({ length: 12 })
        li.item.card
          i.x-ashoka
    | TODO: paginate

section.vertically.centered.segment
  .centered.container
    header
      h3 WHAT MEDIA SAYS ABOUT US

    ul.grid
      li.big.item
        blockquote
          i.x-logo-theguardian
          p.padded.card
            cite "CrowdVoice is a good resource for photos and videos of protests as well as links to news stories and reports."
            span -The Guardian
      li.big.item
        blockquote
          i.x-logo-wired
          p.padded.card
            cite “CrowdVoice is a better resource for journalists wanting to report on social movements, even ones in countries where they don't speak the appropriate language.”
            span -Wired
      li.big.item
        blockquote
          i.x-logo-atlantic
          p.padded.card
            cite "Ahwaa facilitates respectful conversations on a variety of topics surrounding homosexuality."
            span -The Atlantic

    |TODO: paginate

footer.vertically.centered.big.main.segment
  form.centered.container
    header
      h3.main FACING THE FUTURE
    p.main
      |We’re looking forward to the decades to come.
      br
      |Join us on this journey
    .actions
      a.main.action.button(href='#' on-click='toggleSidebar') DONATE
