//-
  ---
  data: !include ../../../resources/products/all.yml
  ---

header.vertically.centered.big.main.segment
  .centered.container
    .top.right
      a.action.button(href='#' on-click='toggleSidebar') DONATE
    h1 Heading level 1 (TODO)

section.vertically.centered.segment
  .half.container
    header
      h2.main AMPLIFIYING UNDERREPRESENTED VOICES FOR OVER A DECADE
    p With team members and initiatives in India, Mexico, and beyond, we’ve scaled our projects to a broader, more global audience and rebranded as Majal in 2015 to reflect our transnational positioning.
    .actions
      a.main.action.button(href='#') GET TO KNOW MAJAL

section.segment
  header
    h2.centered AND THIS IS OUR WORK

  ul
    each p in data.products
      li.top.padded
        .vertically.centered.brand
          .container
            != imageTag(p.image)
            = p.logo
            p.half= p.copy
            .actions
              a.action.button(href=p.link) Go To Case Study
            figure.cover!= imageTag(p.cover)

section.dim.segment
  .two.column.rows
    .one.column.cell
      header
        h3.main SUPPORT MAJAL
      p Become a part of us, every bit matters to further develope our current platforms.
    .one.column.cell
      .right.aligned.actions
        a.main.action.button(href='#') DONATE

footer.vertically.centered.big.main.segment
  form.centered.container
    header
      h3.main KEEP GETTING NEWS
    p.main Subscribe to our newsletter and keep tabs on all of our current and future projects.
    .actions
      input.field(type='email' placeholder='you@example.com')
      input.button(type='submit' value='Subscribe')
