//-
  ---
  _render: ../_app/resources/layout.jade
  ---

header.vertically.centered.big.main.segment
  .centered.container
    |HEADER

main
  .vertically.centered.big.dark.segment(style='background-image:url(//placeimg.com/1000/480/tech)')
    .centered.container
      .top.right
        a.main.action.button(href='#') Click me

      h1 Here is the main title

  .segment.list
    each x in Array.from({ length: 4 })
      .item
        .wrapper
          .container(style='background-image:url(//placeimg.com/400/300/arch)')
            h3 Some product title
            p Some product description

  .vertically.centered.big.light.segment(style='background-image:url(//placeimg.com/1000/480/arch)')
    .container
      h3 Another large subtitle here
      p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.
      p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.

  .segment
    each x in Array.from({ length: 4 })
      .vertically.centered.card(style='background-image:url(//placeimg.com/400/300/tech)')
        .container
          h3 Some product title
          p Some product description

  .vertically.centered.segment.dim
    .two.column.rows
      .one.column.cell
        h3.label Sub heading label
        p Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo.
      .one.column.right.aligned.cell
        a.main.action.button(href='#') Get to know MAJAL

  .dark.segment(style='background-image:url(//placeimg.com/1000/480/arch)')
    .two.column.rows
      .one.column.cell
        h3 Another large subtitle here
        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.
        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.

footer.vertically.centered.big.main.segment
  .centered.container
    |FOOTER
