//-
  ---
  _render: ../_app/resources/layout.jade
  ---

header.vertically.centered.section
  .translucent.container.segment
    |HEADER

main.section
  .container
    |Loading...

footer.vertically.centered.section
  .container
    |FOOTER
