//-
  ---
  links:
  - href: /
    text: HOME
  - href: /about
    text: ABOUT US
  - href: /blog
    text: BLOG
  - href: /press
    text: PRESS ROOM
  - href: /services
    text: SERVICES
  - href: /jobs
    text: JOBS
  ---

input#target(type='checkbox')
nav#menu
  header
    .right.floated
      label(for='target') &times;
    |MAJAL

  main
    ul
      each link, i in links
        li(class=i?'':'here')
          a(href=link.href on-click='navigate')= link.text

  footer
    p.
      Follow us on social media
      <br>SOCIAL ICONS
      <br>&copy; 2016 MAJAL - #[a(href='#') Privacy Policy]

label#toggle(for='target')
  i.x-menu

main(style='pointer-events:none')
  |{{#if currentComponent}}
  |{{>getComponent(currentComponent.name)}}
  |{{else}}
  p Loading stuff...
  |{{/if}}

aside
  |{{#if showSidebar}}
  |{{>getComponent('sidebar')}}
  |{{/if}}

