header.vertically.centered.section
  .container
    |HEADER

main.section
  .container
    |{{#if currentComponent}}
    |{{>getComponent(currentComponent.name)}}
    |{{else}}Loading stuff...{{/if}}

footer.vertically.centered.section
  .container
    |FOOTER
