header.vertically.centered.section
  .translucent.container.segment
    | OK

main.section
  .container
    |{{#if currentComponent}}
    |{{>getComponent(currentComponent)}}
    |{{else}}
    |Loading stuff...
    |{{/if}}

footer.vertically.centered.section
  .container
    |FOOTER
