header.vertically.centered.section
  .translucent.container.segment
    a.main.action(href='/' on-click='navigate') Home
    | |
    a.main.action(href='/x' on-click='navigate') Example

main.section
  .container
    |{{#if currentComponent}}
    |{{>getComponent(currentComponent)}}
    |{{else}}
    |Loading stuff...
    |{{/if}}

footer.vertically.centered.section
  .container
    |FOOTER
