//- nav.dark.segment(style='position:fixed;z-index:2')
//-   a.main.action(href='/ahwaa' on-click='navigate') /ahwaa
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/met' on-click='navigate') /met
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/cvorg' on-click='navigate') /cvorg
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/cvby' on-click='navigate') /cvby
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/mr' on-click='navigate') /mr
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/moac' on-click='navigate') /moac
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/about' on-click='navigate') /about
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/press' on-click='navigate') /press
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/services' on-click='navigate') /services
//-   |&nbsp;&nbsp;
//-   a.main.action(href='/' on-click='navigate') /

|{{#if currentComponent}}
|{{>getComponent(currentComponent.name)}}
|{{else}}
p Loading stuff...
|{{/if}}

|{{#if showSidebar}}
|{{>getComponent('sidebar')}}
|{{/if}}

