nav.dark.segment(style='position:fixed;z-index:2')
  a.main.action(href='/ahwaa') /ahwaa
  |&nbsp;&nbsp;
  a.main.action(href='/met') /met
  |&nbsp;&nbsp;
  a.main.action(href='/cvorg') /cvorg
  |&nbsp;&nbsp;
  a.main.action(href='/cvby') /cvby
  |&nbsp;&nbsp;
  a.main.action(href='/mr') /mr
  |&nbsp;&nbsp;
  a.main.action(href='/moac') /moac
  |&nbsp;&nbsp;
  a.main.action(href='/about') /about
  |&nbsp;&nbsp;
  a.main.action(href='/press') /press
  |&nbsp;&nbsp;
  a.main.action(href='/services') /services
  |&nbsp;&nbsp;
  a.main.action(href='/') /

|{{#if currentComponent}}
|{{>getComponent(currentComponent.name)}}
|{{else}}
p Loading stuff...
|{{/if}}

|{{#if showSidebar}}
|{{>getComponent('sidebar')}}
|{{/if}}

