header.vertically.centered
  .translucent.container.segment
    a.main.action(href='/' on-click='navigate') Home
    | |
    a.main.action(href='/x' on-click='navigate') Example

main
  .container
    |{{#if currentComponent}}
    |{{>getComponent(currentComponent)}}
    |{{else}}
    |Loading stuff...
    |{{/if}}

footer.vertically.centered
  .container
    |FOOTER

|{{#if showSidebar}}
|{{>getComponent('sidebar')}}
|{{/if}}
