doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Lato|Lato-Black|Lato-Regular' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/assets/styles.css')
  body
    #app!= yield || '__APP__'
    script(src='/vendor/ractive/ractive.runtime.js')
    script(src='/vendor/ractive-transitions-fly/dist/ractive-transitions-fly.umd.js')
    script(src='/vendor/ractive-transitions-fade/dist/ractive-transitions-fade.umd.js')
    script(src='/assets/client.js')
