//-
  ---
  sectionTitle: Foo & Bar Co.
  description: We make problems to other to solve for us
  linkAction:
    text: Press this to be OK
  ---

section.segment.translucent(intro='fade')
  .right.floated
    a.action.button(href='#') Donate

section.segment(intro='fly')
  h3= sectionTitle
  p= description
  a.main.action.button(href='#')= linkAction.text

section.segment(intro='fly:{x:-100}')
  .vertically.aligned.rows
    .cell
      h3 Some sub section
      p Some decription
    .right.aligned.cell
      a.action.button(href='#') Donate
