//-
  ---
  data: !include data.yml
  ---

section.segment.translucent(intro='fade')
  .right.floated
    a.action.button(href='#') Open

each item in data.items
  section.segment(intro='fly')
    h3= item.sectionTitle
    p= item.description
    a.main.action.button(href=item.linkAction.href || '#')
      = item.linkAction.text
