//-
  ---
  sectionTitle: Foo & Bar Co.
  description: We make problems to other to solve for us
  linkAction:
    text: Press this to be OK
  ---

segment(classes='translucent')
  .right.floated
    a.action.button(href='#') Donate

segment
  h3= sectionTitle
  p= description
  a.main.action.button(href='#')= linkAction.text

segment(label='Some sub section')
  .vertically.aligned.rows
    .cell
      h3 Some title
      p Some decription
    .right.aligned.cell
      a.action.button(href='#') Donate
