//-
  ---
  sectionTitle: Foo & Bar Co.
  description: We make problems to other to solve for us
  linkAction:
    text: Press this to be OK
  ---

section.segment.translucent(intro='fade')
  .right.floated
    a.action.button(href='#') Close

section.segment(intro='fly')
  h3= sectionTitle
  p= description
  a.main.action.button(href='#')= linkAction.text
